<%- include("partials/header.ejs") %>

<!--jumbotron-->
<header class="jumbotron jumbotron-fluid">
  <div class="row">
    <div class="col">
<img class="title-logo" src="images/onepiecelogo.png">
</div>
</div>
</header>

<!--Navbar-->
<section id="title">
<nav class="navbar navbar-expand-lg navbar-dark" >
  <div class="container">
    <a class="navbar-brand"  href="#">OnePiece </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#oneNavbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"> </span>
  </button>

  <div class="collapse navbar-collapse" id="oneNavbar">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item active"> <a class="nav-link" href="#"> Home</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#about"> About</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#contact"> Contact</a></li>           
    </ul>  
</div> 
</nav>
</section>

<!-- carosel -->.
<section id="quotes">
  <div id="one-carousel" class="carousel-slide" data-bs-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <img class="quotes-image" src="images/luffyandshanks.png" alt="Anime">
        <h2 class="quotes-text">“No matter how hard or impossible it is, never lose sight of your goal.” -Monkey D Luffy.</h2>
      </div>
      <div class="carousel-item container-fluid">
        <img class="quotes-image" src="images/arc1.png" alt="onePiece">
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#one-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#one-carousel" data-bs-slide="next"></button>>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>      
      
  
      
   
  





<%- include("partials/footer.ejs") %>