<%- include("partials/header.ejs") %>

<!--jumbotron-->
<header class="jumbotron jumbotron-fluid">
  <div class="row">
    <div class="col">
<img class="title-logo" src="images/onepiecelogo.png">
</div>
</div>
</header>

<!--Navbar-->
<section id="title">
<nav class="navbar navbar-expand-lg navbar-dark" >
  <div class="container">
    <a class="navbar-brand"  href="#">OnePiece </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#oneNavbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"> </span>
  </button>

  <div class="collapse navbar-collapse" id="oneNavbar">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item active"> <a class="nav-link" href="#"> Home</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#about"> About</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#contact"> Contact</a></li>           
    </ul>  
</div> 
</nav>
</section>

<!-- carousel -->
<section class="carousel-section" style="background: url('images/onePieceBackground.webp');"  id="onePieceCarousel">.

  <div id="one-carousel" class="carousel slide" data-bs-ride="false" > <!--toggle-->
    
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <img class="quotes-image" class="d-block w-100" src="images/luffyandshanks.png" alt="luffy">
        <h2 class="quotes-text">"No matter how hard or impossible it is, never lose sight of your goal." </h2>
        <em>-Monkey D. Luffy</em>
      </div>
      <div class="carousel-item container-fluid">
        <img class="quotes-image" class="d-block w-100" src="images/zoro.webp" alt="zoro">
        <h2 class="quotes-text">"I don't care what society says. I've never regretted doing anything. I will survive and do what I want to "</h2>
        <em>-Roronoa Zoro</em>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#one-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#one-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>

<section class="crew" id="characters">

  <h1>Straw Hats Crew</h1>
  
 <div class="container-fluid">
  <div class="row">
    <div class="column">
      <img class="wantedImage" src="images/wantedLuffy.webp" alt="Luffy" style="width:100%">
      <p>Born in Foosha Village, Luffy is the son of Monkey D. Dragon.
         At age 7, Luffy accidentally ate the Gomu Gomu no Mi, 
         which turned his body into rubber.</p>
    </div>
   
    <div class="column">
      <img class="wantedImage" src="images/wantedZoro.webp" alt="Zoro" style="width:100%">
      <p>Born in the East Blue, Zoro is the son of Tera and Roronoa Arashi, the grandson of Shimotsuki Furiko and Roronoa Pinzoro, 
        and the grandnephew of Shimotsuki Ushimaru, making him a descendant of 
        both the Shimotsuki Family of Wano Country and the legendary samurai, Shimotsuki Ryuma. 
        As a master of Three Sword Style, a swordsmanship style </p>
    </div>
    
    <div class="column">
      <img class="wantedImage" src="images/wantedNami.jpeg" alt="Nami" style="width:100%">
      <p>"Cat Burglar" Nami is the navigator of the Straw Hat Pirates and one of the Senior Officers of the Straw Hat Grand Fleet.
        She is the third member of the crew and the second to join, doing so during the Orange Town Arc.
        She is the adoptive sister of Nojiko after the two were orphaned and taken in by Bell-mère.</p>
    </div>
    
    <div class="column">
      <img class="wantedImage" src="images/wantedUsopp2.jpeg" alt="Usopp" style="width:100%">
      <p>Usopp is the son of Yasopp and Banchina. He was born and raised in Syrup Village, 
        serving as "captain" of the Usopp Pirates and being Kaya's close friend. 
        After working with the Straw Hats to defeat Kuro and the Black Cat Pirates, he was invited to join the crew.</p>
    </div>
    
    <div class="column">
      <img class="wantedImage" src="images/wantedSanji.webp" alt="Sanji" style="width:100%">
      <p>Born as the third son and fourth child of the Vinsmoke Family (thus, making him a former prince of the Germa Kingdom), 
        he disowned his family twice, once in his youth and again after reuniting with them as an adult. 
        After fleeing the Vinsmokes as a child, he eventually entered the care of Zeff as the sous chef of the Baratie, 
        where he would remain until he met Monkey D. Luffy, who convinced him to join his crew.</p>
    </div>
  </div>
 </div>

</section>
      
  
      
   
  





<%- include("partials/footer.ejs") %>