<%- include("partials/header.ejs") %>

<!--jumbotron-->
<header class="jumbotron jumbotron-fluid">
  <div class="row">
    <div class="col">
<img class="title-logo" src="images/onepiecelogo.png">
</div>
</div>
</header>

<!--Navbar-->
<section id="title">
<nav class="navbar navbar-expand-lg navbar-dark" >
  <div class="container">
    <a class="navbar-brand"  href="#">OnePiece </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#oneNavbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"> </span>
  </button>

  <div class="collapse navbar-collapse" id="oneNavbar">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item active"> <a class="nav-link" href="#"> Home</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#about"> About</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#contact"> Contact</a></li>           
    </ul>  
</div> 
</nav>
</section>

<!-- carousel -->
<section class="colored-section" id="onePieceCarousel">.

  <div id="one-carousel" class="carousel slide" data-bs-ride="carousel" > <!--toggle-->
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <img class="quotes-image" class="d-block w-100" src="images/luffyandshanks.png" alt="luffy">
        <h2 class="quotes-text">"No matter how hard or impossible it is, never lose sight of your goal." </h2>
        <em>-Monkey D. Luffy</em>
      </div>
      <div class="carousel-item container-fluid">
        <img class="quotes-image" class="d-block w-100" src="images/zoro.webp" alt="zoro">
        <h2 class="quotes-text">"I don't care what society says. I've never regretted doing anything. I will survive and do what I want to "</h2>
        <em>-Roronoa Zoro</em>
      </div>
    </div>

    <div class="carousel-item container-fluid">
      <img class="quotes-image" class="d-block w-100" src="images/usopp2.jpeg" alt="usopp">
      <h2 class="quotes-text">"I am a brave warrior of the sea. Captain Usopp!!"</h2>
      <em>-Usopp</em>
    </div>
    
  

  <div class="carousel-item container-fluid">
    <img class="quotes-image" class="d-block w-100" src="images/nami.webp" alt="nami">
    <h2 class="quotes-text">"Life is like a pencil that surley run out, but will leave the beautiful writing of life."</h2>
    <em>-Nami</em>
  </div>

  <div class="carousel-item container-fluid">
    <img class="quotes-image" class="d-block w-100" src="images/sanji.webp" alt="sanji">
    <h2 class="quotes-text">"Cooking is a gift from the gods. Spices are a gift from the devil. Looks like it was little too spicy for you."</h2>
    <em>-Sanji</em>
  </div>
    
    
  </div>

</section>

      
  
      
   
  





<%- include("partials/footer.ejs") %>