.navbar{
    background-color: rgb(9, 91, 198);
}

.title-logo{
        background-color: yellow;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }




