
.jumbotron {
    background-color: rgb(9, 91, 198);
    ;
}
  
  /* Navbar */
.navbar{
    background-color: rgb(9, 91, 198);
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: bold;
}


.nav-link {
    font-size: 1.2rem;
    font-family: "Monsterrat-Light";
}

/* carousel*/

.quotes-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50% !important;
    margin-top: 3rem;
  
}
/*
.carousel-section {
    margin-bottom: 3rem;
} */



.quotes-text {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

h2, h3  {
    color: white;
}



em {
    margin-left: 33rem;
    color: white;
    text-align: center;
}

.carousel-item {
    height: 500px;
    overflow: hidden;
  }

 


/*Title */

.title-logo {
        background-color: yellow;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }


    
    /*Characters*/
    .crew {
        background-color: burlywood;
    }


  
   
   

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }